b {
    color: darkred;
}

body {
    font-family: 'Courier New', Courier, monospace; /* Typewriter vibes */
    background-color: #ccc7bf;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
}

.header {
    background-color: black;
    color: #f4f4f4;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.content {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.content h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.content p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}

.text-content {
    flex: 1;
    margin-right: 20px;
}

.photo-container{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.photo {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 300px;
    height: 300px;
    margin-top: 10%;
    border: 4px solid #000;
    box-shadow:0 5px 10px #000;
    -webkit-overflow-scrolling: touch;
}
.photo img {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.photo-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;
}

.photo-nav a{
    width: 0.5rem;
    height:0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.25;
    transition: opacity ease 250ms;
}

.photo-nav a:hover{
    opacity: 100%;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer a {
    color: darkred;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {

    .content {
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    .text-content {
        margin-right: 0;
        text-align: center;
    }

    .photo {
        margin-top: 10px;
    }
}